.arrowed-link
  color: #000

  &:after
    content: ''
    display: inline-block
    margin-left: .5rem
    margin-bottom: -1px
    width: 15px
    height: 13px
    background: url('../img/arrow-black.svg') no-repeat
    opacity: 1
    background-size: contain
    transition: all .4s

    .contact-wrap &
      @media (max-width: 1199px)
        background: url('../img/arrow-white.svg') no-repeat
        background-size: contain

    &:hover
      &:after
        margin-left: 15px

  &:hover
    &:after
      opacity: .2

  .contact-wrap &
    @media (max-width: 1199px)
      color: #fff
