.slick
  &-slider
    position: relative

  &-arrow
    position: absolute
    top: -60px
    left: auto
    font-size: 0
    line-height: 0

    &:before
      content: ''
      display: block
      width: 9px
      height: 21px

  &-prev
    right: 30px

    &:before
      background: url('../img/slide-left.svg') no-repeat
      background-size: contain

  &-next
    right: 0

    &:before
      background: url('../img/slide-right.svg') no-repeat
      background-size: contain

  &-disabled
    opacity: .5
