.main-description
  padding: 2rem
  line-height: 2
  color: $grayC4

  &-wrap
    @media (min-width: 1200px)
      padding: 0 5rem !important
      margin-left: 50%

    @media (min-width: 1920px)
      padding: 0 12rem !important

  a
    color: $grayC4
    text-decoration: underline
    transition: all .6s

    &:hover
      color: #000

  &-header
    padding: 2rem
    color: #000

    @media (max-width: 1199px)
      border-bottom: 1px solid $grayE1

    @media (min-width: 1200px)
      padding-top: 5rem
      padding-bottom: 0

    h1
      margin: 0
      font-size: 1.2em

      @media (min-width: 415px)
        font-size: 1.5625em

  &-footer
    .footer-heading
      padding: 0 2rem

      h6
        margin-bottom: 0
        padding-bottom: 1rem
        border-bottom: 1px solid $grayD7
        letter-spacing: 2px
        font-weight: 400
        color: $grayC4
