@font-face
  font-family: 'Canela'
  src: url('../fonts/Canela-Regular.woff2') format('woff2'), url('../fonts/Canela-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Apercu'
  src: url('../fonts/Apercu-Regular.woff2') format('woff2'), url('../fonts/Apercu-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

body
  font-family: 'Apercu', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1,
h2
  font-family: 'Canela', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif
  font-weight: 400
  -webkit-text-stroke: 0.45px

*:focus
  outline: none
